@model BolsaTrabajoV1.Models.TIPOREFERENCIA

<h3 class="text-center">¿Esta seguro de Eliminarlo?</h3>
<div>
    <h4>TIPOREFERENCIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRETIPOREFERENCIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRETIPOREFERENCIA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a class="btn btn-success" style="margin-right:20%; margin-left:20%" href='@Url.Action("Index", "TipoReferencia")'>
                <span>&emsp; NO</span>
            </a>
            <input type="submit" value="SI" class="btn btn-danger" />
        </div>
    }
</div>
