
<div class="main_container" id="pagina-lock" onclick="toggleLock();" style="height:100%;">
    <!-- page content -->
    <div class="col-md-12">
        <div class="col-middle">
            <div class="text-center text-center">
                <h1 class="error-number">SIBTRA</h1>
                <h2>Bloqueado</h2>
                <p>
                    <a> Haz clic aqui para desbloquear</a>
                </p>
            </div>
        </div>
    </div>
    <!-- /page content -->
</div>